.env
.idea/
*.pyc
.idea
venv/*
kts/*
*.sqlite3
apps/*/migrations/__pycache__/
/__pycache__/
/*.pyc
/__pycache__/*.pyc
__pycache__/
static/admin/*
sqlite3.db
/media/
celerybeat-schedule
*.log
/static/
.scannerwork/
db.sqlite3
.coverage